body {
  padding-bottom: 25vh;
}

a {
  text-decoration: none;
}

header {
  font-size: 14px;
  margin-bottom: 2em;
  color: gray;
}

h1 {
  font-size: 28px;
  line-height: 1.25;
}
h1 > span,
h1 > a {
  display: inline-block;
}
h1 > a {
  white-space: nowrap;
}
h1 .sub {
  display: block;
  font-size: 0.85em;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

footer h1 {
  font-size: 20px;
}
footer h2 {
  font-size: 18px;
  word-break: keep-all;
}
footer h2 .sub::before {
  content: "\2500";
}
footer ul {
  padding-left: 0;
}

footer li {
  list-style: none;
}

footer blockquote {
  font-style: normal;
}

.back-to-home a::before {
  content: "\25B2";
}
